/* COLORS */

$background: #0c1526;
$text: #ffffff;
$link: #e5e5e5;



//button color
$primary-button-back: #ef233c;
$primary-button-text: #ffffff;

$secondary-button-back: #e5e5e5;
$secondary-button-text: #ef233c;




/* TYPOGRAPHY */
$font: 'Heebo', sans-serif;
