/* COLORS */

$background: #001632;
$text: #fff;
$link: #e5e5e5;
$title: #0cd977;

//header background
$header-back: #ffffff;

//button color
$primary-button-back: #006cfa;
$primary-button-text: #fff;

$secondary-button-border: #0cd977;
$secondary-button-text: #0cd977;




/* TYPOGRAPHY */
$font: 'Heebo', sans-serif;
